.category {
  width: 100%;
  height: 170px;
  display: flex;
  justify-content: center;
  align-items: center;

  .category-section {
    width: 90%;
    height: 100%;
    display: flex;

    .category-section-part {
      width: 10%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      img {
        display: block;
        width: 50px;
        padding-right: 5px;
        margin: 0px auto;
        border-radius: 50%;
        cursor: pointer;
      }
      a {
        text-decoration: none;
        /* display: block; */
        text-align: center;
        margin-top: 16px;
        font-size: 12px;
        font-weight: 700px;
        line-height: 2.17;
        color: #3f4065;

        /* chera nashoddd */
        display: -webkit-box;
        -webkit-box-orient: vertical;
        /* number of show line */
        -webkit-line-clamp: 3;
      }
      .more-services {
        background-color: #f0f0f1;
        display: block;
        width: 50px;
        height: 50px;
        padding-right: 5px;
        margin: 5px auto;
        border-radius: 50%;
      }
    }
  }
}
