.cat {
  width: 100%;
  height: 430px;
  display: flex;
  justify-content: center;
  align-items: center;

  .cat-section {
    width: 90%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 0;

    h1 {
      text-align: center;
      font-size: 18px;
    }

    .slider-image {
      width: 100%;
      height: 100%;
      .image-section {
        width: 100%;
        height: 100%;
        .swiper {
          width: 100%;
          height: 100%;
        }

        .swiper-slide {
          text-align: center;
          font-size: 18px;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
        }
      }
    }
  }
}

.top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
  img {
    display: block;
    object-fit: cover;
    width: 60%;
    object-fit: cover;
  }
  p {
    font-size: 12px;
    margin: 8px 0px;
    font-weight: 700;
    line-height: 2;
  }
}
