.cat {
  width: 100%;
  height: 430px;
  background-color: darkgreen;
  display: flex;
  justify-content: center;

  .cat-section {
    width: 90%;
    height: 400px;
    background-color: azure;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 0;

    h1 {
      text-align: center;
      font-size: 18px;
    }
  }
}
