* {
  box-sizing: border-box;
}

.favorite {
  width: 100%;
  height: 440px;
  display: flex;
  align-items: center;
  justify-content: center;

  .favorite-section {
    width: 90%;
    height: 430px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid #f0f0f1;
    border-radius: 16px;

    .favorite-section-part {
      width: 25%;
      height: 430px;
      /* background-color: lightblue; */
      padding: 12px 16px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 10px;
      border-left: 1px solid #f0f0f1;

      h4 {
        font-size: 16px;
        color: #23254e;
      }
      span {
        font-size: 11px;
        color: #81858b;
      }

      .details {
        width: 100%;
        height: 300px;
        display: flex;

        .images {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;

          .img1 {
            width: 50%;
            border-bottom: 1px solid #f0f0f1;
            border-left: 1px solid #f0f0f1;
          }
          .img2 {
            width: 50%;
            border-bottom: 1px solid #f0f0f1;
          }
          .img3 {
            width: 50%;
            border-left: 1px solid #f0f0f1;
          }
          .img4 {
            width: 50%;
          }
        }
      }

      a {
        font-size: 12px;
        color: #19bfd3;
        text-decoration: none;
        text-align: center;
        margin-top: 10 px;
      }
    }
  }
}
