.favorite {
  width: 100%;
  height: 440px;
  background-color: darkorchid;
  display: flex;
  align-items: center;
  justify-content: center;

  .favorite-section {
    width: 90%;
    height: 430px;
    background-color: khaki;
  }
}
