.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 45px;
  border-top: 1px solid #f0f0f1;

  .footer-section {
    width: 100%;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;

    .back-home {
      width: 100%;
      display: flex;
      justify-content: space-between;
      .logo {
        margin: 8px 15px;
        img {
          width: 195px;
        }
      }
      .back {
        margin: 8px 15px;
        padding: 5px;

        span {
          padding: 18px;
          color: #a2a3a8;
          font-size: 15px;
          border: 1px solid #a2a3a8;
          border-radius: 16px;
        }
      }
    }

    .contact-us {
      width: 100%;

      .text {
        padding: 8px;
        font-size: 12px;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
      }
      span {
        color: #a1a3a8;
        margin: 0px 8px;
      }
    }

    .services {
      width: 90%;
      margin: 20px 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .sections {
        margin: 0px 10px;
        padding: 12px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 8px;
        img {
          width: 56px;
          height: 56px;
        }
        p {
          font-size: 12px;
        }
      }
    }

    .digikala {
      width: 100%;
      height: 310px;
      display: flex;
      justify-content: center;
      .digikala-section {
        width: 99%;
        margin-top: 10px;
        display: flex;
        justify-content: center;
        .sections {
          width: 25%;
          display: flex;
          flex-direction: column;
          margin-right: 5px;
          h3 {
            font-size: 16px;
            color: #3f4064;
            margin-bottom: 8px;
            padding-right: 5px;
            line-height: 2;
          }
          p {
            font-size: 14px;
            color: #81858b;
            margin-bottom: 8px;
            padding-right: 5px;
            line-height: 2;
          }
          .social {
            width: 100%;
            display: flex;
            justify-content: start;
            gap: 12px;
            margin-bottom: 8px;
            img {
              width: 40px;
              height: 40px;
              margin-left: 32px;
            }
          }
          .discount {
            font-size: 16px;
            color: #3f4064;
            line-height: 2;
            margin-bottom: 8px;
          }
          .email {
            width: 100%;
            display: flex;
            justify-content: center;
            gap: 12px;
            margin-bottom: 8px;
            input {
              width: 85%;
              background-color: #f0f0f1;
              color: #a1a2a7;
              border: 1px solid #e0e0e2;
              border-radius: 12px;
              padding-right: 8px;
              font-size: 15px;
            }
            button {
              width: 15%;
              color: #ffffff;
              background-color: #e0e0e2;
              border: 1px solid #e0e0e2;
              border-radius: 12px;
              font-size: 14px;
              height: 55px;
              margin-left: 8px;
            }
          }
        }
      }
    }

    .app {
      width: 100%;
      height: 120px;
      display: flex;
      justify-content: center;
      align-items: center;

      .app-sections {
        width: 97%;
        height: 80px;
        display: flex;
        flex-direction: row;
        padding: 20px;
        background-color: #3c4b6e;
        border-radius: 16px;
        .right {
          width: 20%;
          display: flex;
          justify-content: start;
          flex-direction: row;
          img {
            width: 44px;
            height: 44px;
          }
          h2 {
            font-size: 21px;
            color: #ffffff;
            line-height: 2;
            font-weight: 500px;
            margin-right: 16px;
          }
        }

        .left {
          width: 80%;
          display: flex;
          justify-content: end;
          flex-direction: row;
          gap: 10px;
          img {
            width: 142px;
            height: 44px;
          }
          .more {
            width: 42px;
            height: 44px;
            padding: 8px;
            margin-right: 16px;
            background-color: #ffffff;
            border: 1px solid #e0e0e2;
            border-radius: 4px;
          }
        }
      }
    }

    .store {
      width: 100%;
      height: 200px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-top: 1px solid #f0f0f1;
      border-bottom: 1px solid #f0f0f1;
      margin: 32px 0px;

      .store-section {
        width: 99%;
        height: 190px;
        display: flex;
        flex-direction: row;
        padding: 20px 0;

        .right {
          width: 60%;
          padding: 5px;

          h1 {
            font-size: 21px;
            color: #62666e;
            padding: 5px;
          }
          p {
            font-size: 12px;
            line-height: 2.15;
            color: #81858b;
            margin: 8px 0;

            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;

            position: relative;

            &::after {
              content: "";
              position: absolute;
              bottom: 0;
              left: 0;
              width: 100%;
              height: 40px;

              background: linear-gradient(
                to bottom,
                rgba(255, 255, 255, 0),
                #ffffff
              );
            }
          }

          .more {
            display: flex;
            flex-direction: row;
            justify-content: start;
            a {
              font-size: 12px;
              text-decoration: none;
              color: #1dbfd3;
            }
            img {
              width: 18px;
              height: 18px;
              color: #1dbfd3 !important;
            }
          }
        }

        .left {
          width: 40%;
          display: flex;
          flex-direction: row;
          justify-content: end;
          align-items: center;
          margin-left: 5px;
          gap: 8px;

          img {
            width: 100px;
            height: 100px;
            padding: 12px;
            background-color: #ffffff;
            border: 1px solid #f0f0f1;
            border-radius: 8px;
            object-fit: contain;
          }
        }
      }
    }
    .information {
      width: 100%;
      height: 85px;
      p {
        width: 100%;
        text-align: center;
        font-size: 11px;
        color: #81858b;
        font-weight: 400;
        line-height: 2.1;
      }
    }

    .end {
      width: 100%;
      height: 180px;

      .end-sections {
        width: 100%;
        height: 160px;
        background-color: #f0f0f1;
        display: flex;
        flex-wrap: wrap;
        .cell {
          width: calc(100% / 9);
          height: 80px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-right: 1px solid #e0e0e2;
          border-bottom: 1px solid #e0e0e2;
          background-color: #f0f0f1;
          img {
            width: 167px;
            padding: 0px 20px;
            max-height: 40px;
          }
        }
      }
    }
  }
}
