.header {
  width: 100%;
  height: 170px;
  box-shadow: 0px 1px 5px gray;
  .header-banner {
    width: 100%;
    height: 60px;
    img {
      width: 100%;
      height: 100%;
      /* for pictures to normal width & height */
      object-fit: cover;
    }
  }

  .header-search {
    width: 100%;
    height: 70px;
    display: flex;
    .header-search-logo {
      width: 15%;
      height: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      img {
        width: 90%;
      }
    }
    .header-search-searchBox {
      width: 65%;
      height: 100%;
      display: flex;
      align-items: center;
      padding-right: 32px;
      .searchBox {
        width: 50%;
        height: 50%;
        border-radius: 8px;
        outline: none;
        padding-right: 24px;
      }
    }
    .header-search-login {
      width: 20%;
      height: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      column-gap: 16px;
      a {
        text-decoration: none;
        color: #424750;
        .header-search-login-btn {
          padding: 8px;
          display: flex;
          justify-content: center;
          align-items: center;
          column-gap: 8px;
          border: 1px solid #e0e0e2;
          border-radius: 8px;
          font-size: 12px;
          .login {
            font-size: 12px;
          }
          span {
            width: 2px;
            height: 16px;
            background-color: #2b2b2b;
          }
        }
      }
      span {
        width: 2px;
        height: 16px;
        background-color: #e0e0e2;
      }
    }
  }

  .header-menu {
    width: 100%;
    height: 40px;
    /* background-color: bisque; */
    display: flex;
    justify-content: space-between;

    .header-menu-right {
      width: 80%;
      height: 100%;
      display: flex;
      nav {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        margin-right: 10px;
        a {
          font-size: 12px;
          text-decoration: none;
          color: #62666e;
          margin-right: 10px;
        }
        img {
          width: 18px;
          margin-right: 10px;
          color: #62666e !important;
          margin-top: 20px;
        }
        span {
          margin-right: 10px;
          width: 2px;
          height: 16px;
          background-color: #e0e0e2;
        }
      }
    }

    .header-menu-left {
      width: 20%;
      height: 100%;
      display: flex;
      justify-content: flex-end;
      margin-left: 30px;
      .city {
        width: 180px;
        height: 90%;
        background-color: #fff6f0;
        display: flex;
        align-items: center;
        justify-content: center;
        /* whyyyyyyy */
        border-radius: 16px;
        color: #f57f17;
        column-gap: 6px;
        img {
          height: 20px;
          color: #f57f17 !important;
        }
        span {
          font-weight: 600;
          font-size: 12px;
          padding: 10px 10px;
        }
      }
    }
  }
}
.submenu-cat {
  font-size: 12px;
  text-decoration: none;
  color: #62666e;
  margin-right: 10px;
  transition: 300ms;
  /* padding: 5px; */
  &:hover {
    background-color: gold;
    transition: 300ms;
  }

  .submenu {
    width: 0;
    height: 0;
  }
}
