.mag {
  width: 100%;
  height: 370px;
  display: flex;
  align-items: center;
  justify-content: center;

  .mag-section {
    width: 90%;
    height: 360;
    /* background-color: antiquewhite; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .section-01 {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 60px;
      h3 {
        font-size: 15px;
        font-weight: 900;
        margin: 0px 18px;
      }
      span {
        color: #1dbfd3;
        font-size: 12px;
        text-decoration: underline;
        margin: 0px 18px;
      }
    }

    .section-02 {
      width: 100%;
      height: 300px;
      display: flex;
      align-items: center;
      justify-content: center;

      .parts {
        height: 100%;
        width: 25%;
        display: flex;
        flex-direction: column;
        row-gap: 12px;
        align-items: center;
        justify-content: start;
        border: 1px solid #e0e0e2;
        border-radius: 16px;
        img {
          width: 100%;
          margin-top: 0px;
          border-top-right-radius: 16px;
          border-top-left-radius: 16px;
        }
        p {
          font-size: 12px;
        }
      }
    }
  }
}
