.popular-brands {
  width: 100%;
  height: 220px;
  display: flex;
  justify-content: center;
  align-items: center;

  .popular-brands-section {
    width: 90%;
    height: 200px;
    border: 1px solid #f0f0f1;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

    .popular-part-01 {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      gap: 8px;

      .logo {
        img {
          width: 24px;
          height: 24px;
          margin-top: 16px;
        }
      }
      .title {
        p {
          font-size: 20px;
          font-weight: 600;
          margin-top: 16px;
        }
      }
    }

    .popular-part-02 {
      display: flex;
      align-items: center;
      justify-content: right;
      width: 100%;
      height: 150px;

      .swiper {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: start !important;

        align-items: center;
      }

      .swiper-wrapper {
        transform: translate3d(0px, 0px, 0px) !important;
      }

      .swiper-slide {
        height: 130px;
        text-align: center;
        font-size: 18px;
        border-left: 1px solid #f0f0f1;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .swiper-slide img {
        display: block;
        width: 110px;
        height: 110px;
        object-fit: cover;
        padding: 8px;
        margin-left: 12px;
      }
    }
  }
}
