.sell {
  width: 100%;
  height: 415px;
  display: flex;
  align-items: center;
  justify-content: center;
  .sell-section {
    width: 90%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border: 1px solid #e0e0e2;
    border-radius: 16px;
    .section-01 {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      .title {
        width: 80%;

        display: flex;
        justify-content: center;
        text-align: center;
        h3 {
          font-size: 24px;
          padding: 16px 0px;
        }

        img {
          width: 24px;
          height: 24px;
          padding: 16px 0px;
        }
      }
      .view-all {
        a {
          text-decoration: none;
          color: #1dbfd3;
          font-size: 14px;
          text-align: center;
          margin: 16px;
          padding: 16px;
          padding-top: 25px;
        }
      }
    }
  }

  .sell-section-parts {
    width: 100%;
    height: 330px;

    .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      row-gap: 16px;

      .part1 {
        width: 100%;
        padding: 0px 16px;
        background-color: white;
        display: flex;
        column-gap: 16px;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        img {
          width: 86px;
          height: 86px;
        }
        .text {
          display: flex;
          flex-direction: row;
          align-items: center;
          column-gap: 8px;

          span {
            font-size: 30px;
            color: #19bfd3;
          }
          p {
            width: fit-content;
            font-size: 12px;
            color: #3f4064;
            border-bottom: 1px solid #f0f0f1;
            padding: 40px 0px;
          }
        }
      }
    }

    /* .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    } */
  }
}
