@font-face {
  font-family: Digikala;
  src: url(../fonts/IRANYekanWeb.eot);
  src: url(../fonts/IRANYekanWeb.ttf);
  src: url(../fonts/IRANYekanWeb.woff);
  src: url(../fonts/IRANYekanWeb.woff2);
}

* {
  margin: 0;
  padding: 0;
  font-family: Digikala;
  /* box-sizing: border-box; */
}
