.story {
  width: 100%;
  height: 190px;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  .story-section {
    width: 90%;
    height: 100%;
    /* background-color: aquamarine; */
  }
}

.story-segment {
  /* background-color: bisque; */
  /* display: block; */
  /* justify-content: center;
  align-items: center; */
  margin-right: 8px;
  margin-top: 8px;
  padding-top: 8px;
  img {
    display: block;
    width: 70px;
    border-radius: 50%;
    border: 2px solid #8f499d;
    margin: 16px auto;
    padding: 3px;
    object-fit: cover;
  }
  span {
    display: block;
    /* margin-right: 0px auto; */
    text-align: center;
    font-size: 12px;
  }
}

.swiper-rtl .swiper-button-next,
&.swiper-rtl ~ .swiper-button-next,
& ~ .swiper-button-prev,
.swiper-button-prev {
  width: 25px;
  height: 25px;
  background-color: #ffffff;
  color: #7a7e85;
  border-radius: 50%;
  padding: 10px 8px 8px 8px;
}

.swiper-rtl .swiper-button-prev,
&.swiper-rtl ~ .swiper-button-prev {
  width: 25px;
  height: 25px;
  background-color: #ffffff;
  color: #7a7e85;
  border-radius: 50%;
  padding: 8px 10px 8px 8px;
}
.swiper-button-disabled {
  /* why position changed???? */
  opacity: 0 !important;
}
