.supermarket {
  width: 100%;
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .supermarket-section {
    width: 90%;
    height: 110px;
    background-color: #f0f0f1;
    border-radius: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* padding: 8px 20px; */

    .right {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 20px;

      .logo {
        width: 356px;
        height: 62px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px;

        .image01 {
          width: 66px;
          height: 100%;
          padding-right: 15px;
        }

        .image02 {
          width: 250px;
          height: 28px;
        }
      }

      .discount {
        font-size: 12px;
        padding: 8px 12px;
        background-color: #019a49;
        color: #ffffff;
        border-radius: 20px;
      }
    }

    .left {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 20px;
      padding-left: 35px;

      .images-section {
        width: 492px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        img {
          width: 58px;
          height: 58px;
          border-radius: 50%;
        }
      }

      .more-product {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 16px;
        padding: 8px 12px;
        background-color: #ffffff;
        gap: 5px;
        span {
          font-size: 12px;
          color: #42a863;
          font-weight: 600;
        }

        .arrow {
          width: 20px;
          height: 20px;
          color: #42a863 !important;
        }
      }
    }
  }
}
