.wonderful {
  width: 100%;
  height: 320px;
  /* display: flex;
  justify-content: center;
  align-items: center; */

  .wonderful-part {
    width: 90%;
    height: 100%;
    /* background-color: darkseagreen; */
    margin: 0px auto;
    display: flex;
    justify-content: center;
    align-items: center;

    .wonderful-section {
      width: 100%;
      height: 300px;
      background-color: #e0314e;
      border-radius: 15px;

      .swiper {
        width: 100%;
        height: 100%;
      }

      .swiper-slide {
        /* text-align: center; */
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;

        .section-01 {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 8px;

          .title {
            width: 88px;
            margin-top: 16px;
          }
          .clock {
            width: 100%;
            display: flex;
            flex-direction: row-reverse;
            justify-content: center;
            align-items: center;
            gap: 4px;
            margin-top: 16px;

            .hour {
              background-color: #ffffff;
              padding: 8px;
              border-radius: 8px;
              font-size: 15px;
            }
            .minute {
              background-color: #ffffff;
              padding: 8px;
              border-radius: 8px;
              font-size: 15px;
            }
            .second {
              background-color: #ffffff;
              padding: 8px;
              border-radius: 8px;
              font-size: 15px;
            }
            span {
              color: white;
            }
          }
          .logo {
            width: 80px;
          }
          a {
            color: #fff6f7;
            text-decoration: none;
            font-size: 12px;
            cursor: pointer;
          }
        }
      }

      .section-02 {
        width: 100%;
        height: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 12px;
        background-color: #ffffff;
        padding: 20px 8px;

        img {
          width: 132px;
          height: 132px;
          margin-top: 20px;
        }

        p {
          font-size: 11px;
          color: #62666e;
          width: calc(100% - 16px);
          direction: rtl;
          text-align: right;
          line-height: 1.4;
        }

        .price {
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: space-between;

          .percent {
            padding-right: 8px;
            p {
              padding: 1px 6px;
              font-size: 14px;
              color: #ffffff;
              background-color: #d3302f;
              border-radius: 8px;
            }
          }

          .discount {
            font-size: 16px;
            display: flex;
            flex-direction: column;
            align-items: start;

            .with-dis {
              color: #3f4065;
              font-size: 12px;
            }

            .without-dis {
              color: #c1c2c5;
              text-decoration: line-through;
              font-size: 12px;
            }
          }
        }
      }
    }

    .section-02-start {
      width: 100%;
      height: 80%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 12px;
      background-color: #ffffff;
      padding: 20px 8px;
      border-top-right-radius: 16px;
      border-bottom-right-radius: 16px;

      img {
        width: 132px;
        margin-top: 20px;
      }

      p {
        font-size: 11px;
        color: #62666e;
        width: calc(100% - 16px);
        direction: rtl;
        text-align: right;
        line-height: 1.4;
      }
      .price {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .percent {
          padding-right: 8px;
          p {
            padding: 1px 6px;
            font-size: 14px;
            color: #ffffff;
            background-color: #d3302f;
            border-radius: 8px;
          }
        }

        .discount {
          font-size: 16px;
          display: flex;
          flex-direction: column;
          align-items: start;
          .with-dis {
            color: #3f4065;
            font-size: 12px;
          }

          .without-dis {
            color: #c1c2c5;
            text-decoration: line-through;
            font-size: 12px;
          }
        }
      }
    }

    .section-02-end {
      width: 100%;
      height: 80%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 12px;
      background-color: #ffffff;
      padding: 20px 8px;
      margin-left: 10px;
      border-top-left-radius: 16px;
      border-bottom-left-radius: 16px;

      a {
        width: 100%;
        text-decoration: none;
        display: flex;
        flex-direction: column;
        column-gap: 30px;
        align-items: center;
        justify-content: center;

        .arrow img {
          width: 52px;
          height: 52px;
          margin-top: 20px;
          color: #1dbfd3 !important;
        }

        p {
          font-size: 11px;
          color: #3f4065 !important;
          width: calc(100% - 16px);
          direction: rtl;
          text-align: right;
          line-height: 1.4;
        }
      }
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
